<footer class="mt-4 w-100 d-flex flex-column align-items-center py-3 bg-body border-top">
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-body" routerLink=" ">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" routerLink="/about">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" routerLink="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <small class="text-body">&copy; 2026 ThermoCESI</small>
</footer>
